* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  /*what 1 rem is*/
  font-size: 62.5%;
  text-align: center; }

.wrapper {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem 0; }

.title-header,
.tribute-info,
.quote-big,
.quotes,
.footer {
  width: 60vw;
  max-width: 850px;
  margin: 0 auto; }

.title-header {
  display: flex;
  align-items: baseline;
  margin: 1rem auto; }
  .title-header h2 {
    margin-left: 4rem; }

.tribute-info {
  display: flex;
  margin-top: 1rem; }
  .tribute-info .short-info {
    position: relative;
    width: 100%; }
    .tribute-info .short-info p {
      text-align: left;
      position: absolute;
      padding: 5rem;
      top: 50%;
      transform: translate(0, -50%); }

.quote-big {
  margin: 0 auto 1.5rem; }

.quotes h1 {
  margin: 2rem 0; }

.tribute-info__figure {
  width: 50%; }
  .tribute-info__figure img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto; }
  .tribute-info__figure figcaption {
    background-color: #373737;
    font-size: 1.4rem;
    color: #eeeeee;
    width: 100%;
    text-align: center;
    padding: .5rem; }

.wr-dark {
  background-color: #373737; }

.wr-light {
  background-color: #DBDBDB; }

.title-header {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400; }
  .title-header h1 {
    font-size: 6rem;
    color: #fff; }
  .title-header h2 {
    color: #B0B0B0;
    font-size: 3rem; }

.tribute-info {
  font-size: 2.2rem; }

.quote-big h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1.6rem; }

.quote-big address {
  font-weight: 400;
  text-align: right;
  padding: 1rem 5rem 0;
  font-size: 1.4rem; }

.quotes h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: left; }

.quotes-list {
  list-style-type: none;
  text-align: left; }
  .quotes-list li {
    font-size: 1.5rem;
    padding: 2.5rem 0; }

.footer {
  font-size: 1.4rem;
  color: #fff; }
  .footer a {
    color: #59e4c1; }
    .footer a:hover {
      color: #fff; }

@media (max-width: 1000px) {
  .title-header,
  .tribute-info,
  .quote-big,
  .quotes,
  .footer {
    width: 80vw; } }

@media (max-width: 730px) {
  .title-header {
    flex-direction: column;
    justify-content: start; }
    .title-header h2 {
      margin: 2rem 0 0; }
  .tribute-info {
    font-size: 1.8rem; } }

@media (max-width: 600px) {
  .tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    position: relative; }
    .tribute-info .short-info {
      position: relative; }
      .tribute-info .short-info p {
        font-size: 1.5rem;
        position: relative;
        padding: 1rem;
        top: 0;
        transform: translate(0, 0); }
  .tribute-info__figure {
    width: 80%;
    margin-bottom: 1rem; } }

@media (max-width: 465px) {
  .title-header h1 {
    font-size: 4.5rem;
    color: #fff; }
  .title-header h2 {
    font-size: 2rem; } }

@media (max-width: 347px) {
  .title-header h2 {
    margin: 0 auto; } }
