.tribute-info__figure {
    width: 50%;

    & img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
    }

    & figcaption {
        background-color: $dark-grey-primary;
        font-size: 1.4rem;
        color: $color-light-grey;
        width: 100%;
        //margin-top: -1.4em;
        text-align: center;
        padding: .5rem;
    }
}

.wr-dark {
    background-color: $dark-grey-primary;
}

.wr-light {
    background-color: $light-grey-primary;
}