@media (max-width: 1000px) {

  .title-header,
  .tribute-info,
  .quote-big,
  .quotes,
  .footer {
    //border: 1px solid orangered;
    width: 80vw;
  }

}

@media (max-width: 730px) {

  .title-header {
    //border: 1px solid orangered;
    flex-direction: column;
    justify-content: start;

    & h2 {
      //border: 1px solid orangered;
      margin: 2rem 0 0;
    }

  }

  .tribute-info {
    font-size: 1.8rem;
  }





}

@media (max-width: 600px) {

  .tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    position: relative;

    & .short-info {
      position: relative;

      & p {
        font-size: 1.5rem;
        position: relative;
        padding: 1rem;
        top: 0;
        transform: translate(0, 0);
      }

    }
  }

  .tribute-info__figure {

    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 465px) {

  .title-header {

    & h1 {
      font-size: 4.5rem;
      color: $color-white;
    }

    & h2 {
      font-size: 2rem;
    }

  }

}

@media (max-width: 347px) {

  .title-header {

    & h2 {
     margin: 0 auto;
    }

  }

}