.title-header {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 400;

    & h1 {
        font-size: 6rem;
        color: $color-white;
    }

    & h2 {
        color: #B0B0B0;
        font-size: 3rem;
    }
}

.tribute-info {
    font-size: 2.2rem;
}

.quote-big {
    & h2 {
        font-weight: 400;
        text-align: center;
        font-size: 1.6rem;
    }

    & address {
        font-weight: 400;
        text-align: right;
        padding: 1rem 5rem 0;
        font-size: 1.4rem;
    }
}

.quotes {
    margin: 3rem auto;

    & h1 {
        font-size: 3rem;
        font-weight: 500;
        text-align: left;
        margin: 3.5rem 0;
    }
}

.quotes-list {
    list-style-type: none;
    text-align: left;

    & li {
        font-size: 1.5rem;
        padding: 2.5rem 0;
    }
}

.footer {
    font-size: 1.4rem;
    color: $color-white;

    & a {
        color: $light-blue-link;

        &:hover {
            color: $color-white;
        }
    }
}